* {
    padding: 0;
}
.logo {
    max-width: 50vh;
    max-height: 50vh;
}
.list-group-item {
    border: none;
}
/*Estilos de presentacion*/
#fondoBienvenida {
    background-image: url(./IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
/*Card */
.cardGenerales {
    border: none;
    background-color: transparent;
    margin: none;
    color: white;
}
.card-img-top {
    width: 100%;
    display: block;
}

/* titulos*/
.text-pink {
    color: #d5ac8c;
}
.text-brown{
    color: #63421e;
}

/* Botones */
.btn-primary {
    background-color: black;
    color: #d5ac8c;
    border-color: #d5ac8c;
}
.btn-primary:hover {
    background-color: #212529;
    border-color: #d5ac8c;
    color: #d5ac8c;
}

.btn-secondary {
    background-color: #d5ac8c;
    border-color: #63421e;
    color: #63421e;
}
.btn-secondary:hover {
    background-color: #212529;
    border-color: #63421e;
    color: #63421e;
}

.btn-info {
    background-color: white;
    border-color: #63421e;
    color: #63421e;
}

/* fondos */
.bg-black {
    background-color: black;
}
.bg-alfajor {
    background-color: #d5ac8c;
}
.card {
    border: none;
}


/*Media query*/
@media screen and (min-width: 480px) and (max-width: 940px) {
    .cardGenerales {
        color: black;
    }
    #img-form {
    display: none;
    }
}

@media screen and (min-width: 941px) and (max-width: 1300px) {
    #fondoBienvenida {
        height: 100%;
    }
    #redes {
        margin: 0;
    }
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        min-height: 1000px;
    }
    .contenedorTexto {
        margin: 4rem;
    }
    #fondoDeHeader {
        min-height: 700px;
    }
}

@media screen and (min-width: 1301px) {
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .contenedorTexto {
        margin: 4rem;
    }
}


