* {
    padding: 0;
    /* overflow: hidden; */
}
.logo {
    max-width: 50vh;
    max-height: 50vh;
}
.list-group-item {
    border: none;
}
/*Estilos de presentacion*/
#fondoBienvenida {
    background-image: url(./img/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
/*Card */
.cardGenerales {
    border: none;
    background-color: transparent;
    margin: none;
    color: white;
}
.card-img-top {
    width: 100%;
    display: block;
}

/* titulos*/
.text-pink {
    color: #d5ac8c;
}
.text-brown{
    color: #63421e;
}

/* Botones */
.btn-primary {
    background-color: black;
    color: #d5ac8c;
    border-color: #d5ac8c;
}
.btn-primary:hover {
    background-color: #212529;
    border-color: #d5ac8c;
    color: #d5ac8c;
}

.btn-secondary {
    background-color: #d5ac8c;
    border-color: #63421e;
    color: #63421e;
}
.btn-secondary:hover {
    background-color: #212529;
    border-color: #63421e;
    color: #63421e;
}
.btn-dark-opac{
    background-color: rgba(33, 37, 41,.6);
}

.btn-info {
    background-color: white;
    border-color: #63421e;
    color: #63421e;
}

/* fondos */
.bg-black {
    background-color: black;
}
.bg-alfajor {
    background-color: #d5ac8c;
}
.card {
    border: none;
}


/*Media query*/
@media screen and (min-width: 480px) and (max-width: 767px) {
    .cardGenerales {
        color: black;
    }
    #img-form {
    display: none;
    }
    #Contenedor2{
        max-width: 100%;
    }
    #logo-footer{
        display: hidden !important;
    }
    /* .card-pepa{
        margin: 0px 0px 10px 0px  !important;
    } */
}

@media screen and (min-width: 768px) and (max-width: 1300px) {
    #fondoBienvenida {
        height: 100%;
    }
    #redes {
        margin: 0;
    }
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        /* min-height: 1000px; */
    }
    .contenedorTexto {
        margin: 4rem;
    }
    #fondoDeHeader {
        min-height: 700px;
    }
    #Contenedor2{
        max-width: 300px;
    }
    .card-text-rosa{
        min-height: 96px;
    }
    #logo-footer{
        display: none;        
    }
    /* .card-pepa{
        margin: 0px 0px 0px 0px  !important;
    } */
}
/* @media screen and (min-width: 992px) and (max-width: 1300px) {
    #fondoBienvenida {
        height: 100%;
    }
    #fondoDeHeader {
        min-height: 700px;
    }
} */
@media screen and (min-width: 1301px) {
    #contenedorBienvenida {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .contenedorTexto {
        margin: 4rem;
    }
    #Contenedor2{
        max-width: 300px;
    }
    /* .btn-primary{
        margin: 40px;
    } */
    .card-text-rosa{
        min-height: 96px;
    }
    .card-pepa{
        margin: 0px;
    }
    .btn-primary{
        margin: 30px;
    }
    #logo-footer{
        display: none;
    }
    #fondoBienvenida {
        height: 100%;
    }
}
#contacto{
    overflow: hidden;
}

